@using PagedList.Mvc;
@model PagedList.IPagedList<Faculty.Models.UserViewModel>

@{
    ViewBag.Title = "Manage Users";
}
<h1>@ViewBag.StatusMessage</h1>

<h2>Users</h2>
@if (!Model.Any())
{
    <h2>@Html.Label("There's no users to display!")</h2>
}
<table class="table table-hover">
    <thead>
        @using (Html.BeginForm("DisplayUsers", "ManageUsers", new { Area = "Admin" }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <tr>
                <th>@Html.Label("Find user by first name")</th>
                <th>@Html.Label("Find user by last name")</th>
                <th></th>
                <th></th>
                <th>@Html.Label("Select Role")</th>
                <th></th>
                <th>@Html.ActionLink("Reset", "DisplayUsers", null, new { alt = "Reset filters" })</th>
            </tr>
            <tr>
                <th>@Html.TextBox("userFirstNameFilter", null, new { @class = "form-control" })</th>
                <th>@Html.TextBox("userLastNameFilter", null, new { @class = "form-control" })</th>
                <th></th>
                <th></th>
                <th>@Html.DropDownList("roleFilter", ViewBag.Roles as SelectList, new { @class = "form-control" })</th>
                <th></th>
                <th><input type="submit" value="Find" class="btn btn-default" /></th>
            </tr>
        }
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Age)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().RoleName)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td>@Html.ActionLink("Edit", "EditUser", new { userId = item.Id })</td>
                <td>@Html.ActionLink("Remove", "RemoveUser", new { userId = item.Id }) </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action(
    "DisplayUsers",
    new {
        page,
        userFirstNameFilter = ViewBag.FirstNameFilter,
        userLastNameFilter = ViewBag.LastNameFilter,
        roleFilter = ViewBag.RoleFilter
    }))
<br />

<h2>@Html.ActionLink("Add new user", "AddUser", new { Area = "Admin" }, null)</h2>