@model Faculty.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @Html.DisplayNameFor(u => u.FirstName);
    @Html.DisplayFor(u => u.FirstName);
    <br />
    @Html.DisplayNameFor(u => u.LastName);
    @Html.DisplayFor(u => u.LastName);
    <br />
    @Html.DisplayNameFor(u => u.Age);
    @Html.DisplayFor(u => u.Age);
    <br />
    @Html.DisplayNameFor(u => u.UserInfo);
    @Html.DisplayFor(u => u.UserInfo);
    <br />
    @Html.ActionLink("View user courses", "DisplayUserCourses", new { userId = Model.UserId })
    <br />
    @Html.ActionLink("Edit profile", "EditUserData", new { userId = Model.UserId })
    <br />
    @if (ViewBag.Lector == "Lector")
    {
        @Html.ActionLink("Manage courses", "DisplayCoursesForLector", new { userId = Model.UserId });
    }
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
