@model Faculty.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @Html.Label("First Name");
    <p>@ViewBag.UserData.FirstName</p>
    <br />
    @Html.Label("Last Name");
    <p>@ViewBag.UserData.LastName</p>
    <br />
    @Html.Label("Age");
    <p>@ViewBag.UserData.Age</p>
    <br />
    @Html.ActionLink("View user courses", "UserCourses", new { userId = ViewBag.UserData.Id });
    <br />
    @if (ViewBag.Lector == "Lector")
    {
        @Html.ActionLink("Manage courses", "DisplayCoursesForLector", new { userId = ViewBag.UserData.Id });
    }
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
