@model  IEnumerable<Faculty.Models.JournalViewModel>
@{
    ViewBag.Title = "UserCourses";
}

@if (Model.Any())
{
    <h2>@Model.First().FirstName @Model.First().LastName Courses</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CourseName)</th>
                <th>@Html.DisplayNameFor(model => model.CourseTheme)</th>
                <th>@Html.DisplayNameFor(model => model.Lector)</th>
                <th>@Html.DisplayNameFor(model => model.CourseStatus)</th>
                <th>@Html.DisplayNameFor(model => model.Mark)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseTheme)</td>
                    <td>@Html.DisplayFor(modelItem => item.Lector)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseStatus)</td>
                    @if (item.CourseStatus == "Ended")
                    {
                        <td>@Html.DisplayFor(modelItem => item.Mark)</td>
                    }
                    else
                    {
                        <td>Course is not ended!</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.Label("You are not registered to any course!");</th>
            </tr>
        </thead>
    </table>
}
