@model Faculty.Logic.Models.Course
@{
    ViewBag.Title = "CourseInfo";
}


<div class="course-profile">
    <div class="course-profile-container">
        <div>
            <img src="~/Content/courses5.png" alt="course" width="200" />
        </div>
        <div>
            <h3>@Html.LabelFor(c => c.CourseName):</h3>
            <p>
                @Html.DisplayFor(c => c.CourseName)
            </p>
        </div>
        <div>
            <h3>@Html.LabelFor(c => c.Theme):</h3>
            <p>
                @Html.DisplayFor(c => c.Theme)
            </p>
        </div>
        <div>
            <h3>@Html.LabelFor(c => c.CourseStatus):</h3>
            <p>
                @Html.DisplayFor(c => c.CourseStatus)
            </p>
        </div>
        <div>
            <h3>@Html.Label("Course Lector"):</h3>
            @if (ViewBag.Lector != "There's no lector for this course!")
            {
                <p>
                    @Html.ActionLink((string)ViewBag.Lector, "LectorInfo", "Lector", new { courseId = Model.Id }, null)
                </p>
            }
            else
            {
                <p class="text-danger">
                    @ViewBag.Lector
                </p>
            }
        </div>
    </div>
    <div class="course-profile-container">
        <div>
            <h3>@Html.LabelFor(c => c.CourseDescription):</h3>
            @if (Model.CourseDescription != null)
            {
                <p>@Html.DisplayFor(c => c.CourseDescription)</p>
            }
            else
            {
                <p>There's no description.</p>
            }
        </div>
        
    </div>
     <div class="course-profile-container">
         @if (!ViewBag.UserIsLectorOfThisCourse && Model.CourseStatus.ToString()!="Ended" && Model.CourseStatus.ToString() != "Unknown")
         {
         <div>
             @if (ViewBag.UserIsSignedToCourse)
             {
                 <h3>
                     @Html.ActionLink("Leave course", "SignOrQuitCourse", new { courseId = Model.Id, userIsOnCourse = true }, new { @class = "custom-links" })
                 </h3>
             }
             else
             {
                 <h3>
                     @Html.ActionLink("Sign to the course", "SignOrQuitCourse", new { courseId = Model.Id, userIsOnCourse = false }, new { @class = "custom-links" })
                 </h3>
             }
         </div>
         }
        @if (ViewBag.UserIsLectorOfThisCourse == true && ViewBag.CourseStatusEnded == true)
        {
            <div>
                <h3>
                    @Html.ActionLink("Manage marks", "ManageJournal", "Journal", new { courseId = Model.Id }, new { @class = "custom-links" })
                </h3>
            </div>
        }
    </div>
</div>
<br />


