@model PagedList.IPagedList<Faculty.Models.CourseViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>
@if (!Model.Any())
{
    <h2>@Html.Label("There's no courses to display!")</h2>
}
<table class="table table-hover">
    <thead>
        @using (Html.BeginForm("DisplayCourses", "Courses", new { currentFilter = ViewBag.CurrentFilter }, FormMethod.Post))
        {
            <tr>
                <th>@Html.ActionLink("a-z", "DisplayCourses", new { currentFilter = "a-z", statusFilter = ViewBag.CurrentStatusFilter,
                   themeFilter = ViewBag.CurrentThemeFilter, lectorFilter = ViewBag.CurrentLectorFilter}, new { alt = "Course name - from a to z" })</th>
                <th>@Html.ActionLink("Duration(L-H)", "DisplayCourses", new { currentFilter = "durationSTH", statusFilter = ViewBag.CurrentStatusFilter,
                   themeFilter = ViewBag.CurrentThemeFilter, lectorFilter = ViewBag.CurrentLectorFilter }, new { alt = "Course duration - Shortest to Highest" })</th>
                <th></th>
                <th>@Html.Label("Select Status")</th>
                <th>@Html.Label("Select Theme")</th>
                <th>@Html.ActionLink("Students(L-H)", "DisplayCourses", new { currentFilter = "studentsCountSTH", statusFilter = ViewBag.CurrentStatusFilter,
                   themeFilter = ViewBag.CurrentThemeFilter, lectorFilter = ViewBag.CurrentLectorFilter}, new { alt = "Students count - Highest to Shortest" })</th>
                <th>@Html.Label("Select Lector")</th>
                <th>@Html.ActionLink("Reset", "DisplayCourses", null, new { alt = "Reset filters" })</th>
            </tr>
            <tr>
                <th>@Html.ActionLink("z-a", "DisplayCourses", new { currentFilter = "z-a", statusFilter = ViewBag.CurrentStatusFilter,
                   themeFilter = ViewBag.CurrentThemeFilter, lectorFilter = ViewBag.CurrentLectorFilter }, new { alt = "Course name - from z to a" })</th>
                <th>@Html.ActionLink("Duration(H-L)", "DisplayCourses", new { currentFilter = "durationHTS", statusFilter = ViewBag.CurrentStatusFilter,
                   themeFilter = ViewBag.CurrentThemeFilter, lectorFilter = ViewBag.CurrentLectorFilter }, new { alt = "Course duration - Highest to Shortest" })</th>
                <th></th>
                <th>@Html.DropDownList("statusFilter", ViewBag.Status as SelectList, new { @class = "form-control" })</th>
                <th>@Html.DropDownList("themeFilter", ViewBag.Themes as SelectList, new { @class = "form-control" })</th>
                <th>@Html.ActionLink("Students(H-L)", "DisplayCourses", new { currentFilter = "studentsCountHTS", statusFilter = ViewBag.CurrentStatusFilter,
                   themeFilter = ViewBag.CurrentThemeFilter, lectorFilter = ViewBag.CurrentLectorFilter }, new { alt = "Students count - Highest to Shortest" })</th>
                <th>@Html.DropDownList("lectorFilter", ViewBag.Lectors as SelectList, new { @class = "form-control" })</th>
                <th><input type="submit" value="Find" class="btn btn-default" /></th>
            </tr>
        }
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().CourseName)</th>
                <th>@Html.DisplayNameFor(model => model.First().StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().CourseStatus)</th>
                <th>@Html.DisplayNameFor(model => model.First().Theme)</th>
                <th>@Html.DisplayNameFor(model => model.First().StudentsCount)</th>
                <th>@Html.Label("Lector")</th>
            </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseStatus)</td>
                <td>@Html.DisplayFor(modelItem => item.Theme)</td>
                <td>@Html.DisplayFor(modelItem => item.StudentsCount)</td>
                <td>@Html.DisplayFor(modelItem => item.Lector)</td>
                <td>@Html.ActionLink("Details", "CourseInfo", new { courseId = item.Id }, null) </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action(
    "DisplayCourses",
    new {
        page,
        currentFilter = ViewBag.CurrentFilter,
        statusFilter = ViewBag.CurrentStatusFilter,
        themeFilter = ViewBag.CurrentThemeFilter,
        lectorFilter = ViewBag.CurrentLectorFilter
    }))

