@model IEnumerable<Faculty.Models.CourseViewModel>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.CourseStatus)</th>
            <th>@Html.DisplayNameFor(model => model.Theme)</th>
            <th>@Html.DisplayNameFor(model => model.StudentsCount)</th>
            <th>@Html.DisplayNameFor(model => model.Lector)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            <td>@Html.DisplayFor(modelItem => item.CourseStatus)</td>
            <td>@Html.DisplayFor(modelItem => item.Theme)</td>
            <td>@Html.DisplayFor(modelItem => item.StudentsCount)</td>
            <td>@Html.DisplayFor(modelItem => item.Lector)</td>
            <td>@Html.ActionLink("Details", "CourseInfo", new { courseId = item.Id }, null) </td>
        </tr>
        } 
    </tbody>
</table>

