@model IEnumerable<Faculty.Models.CourseViewModel>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.LabelFor(model => model.First().CourseName)</th>
            <th>@Html.LabelFor(model => model.First().StartDate)</th>
            <th>@Html.LabelFor(model => model.First().EndDate)</th>
            <th>@Html.LabelFor(model => model.First().CourseStatus)</th>
            <th>@Html.LabelFor(model => model.First().Theme)</th>
            <th>@Html.LabelFor(model => model.First().StudentsCount)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
            <td>@Html.DisplayFor(modelItem => item.CourseStatus)</td>
            <td>@Html.DisplayFor(modelItem => item.Theme)</td>
            <td>@Html.DisplayFor(modelItem => item.StudentsCount)</td>
            <td>@Html.ActionLink("Details", "CourseInfo", new { id = item.Id }, null) </td>
        </tr>
        } 
    </tbody>
</table>

