@model  IEnumerable<Faculty.Models.JournalViewModel>
@{
    ViewBag.Title = "ManageJournal";
}

<h2>Manage @Html.DisplayFor(modelItem => modelItem.First().CourseName) course Journal:</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Mark)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Mark)</td>
            <td>@Html.ActionLink("Edit Mark", "ManageUserMark", new { journalId = item.Id, courseId = item.CourseId}) </td>
        </tr>
        }
    </tbody>
</table>