@using PagedList.Mvc;
@model  PagedList.IPagedList<Faculty.Models.JournalViewModel>
@{
    ViewBag.Title = "ManageJournal";
}

<img src="~/Content/journal.jpg" alt="journal" width="200" />
<h1>@ViewBag.StatusMessage</h1>

@if (!Model.Any())
{
    <h2>@Html.Label("There's no journals to display!", new { @class = "text-danger" })</h2>
}
else
{
    <h2>Course name - @Html.DisplayFor(modelItem => modelItem.First().CourseName)</h2>
}
<table class="table table-hover">
    <thead>
        @using (Html.BeginForm("ManageJournal", "Journal", new { courseId = ViewBag.CourseId }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            <tr>
                <th>@Html.Label("Find user by first name")</th>
                <th>@Html.Label("Find user by last name")</th>
                <th></th>
                <th>@Html.ActionLink("Reset", "ManageJournal", new { courseId = ViewBag.CourseId },
                   new { alt = "Reset filters" })</th>
            </tr>
            <tr>
                <th>@Html.TextBox("userFirstNameFilter", null, new { @class = "form-control" })</th>
                <th>@Html.TextBox("userLastNameFilter", null, new { @class = "form-control" })</th>
                <th></th>
                <th><input type="submit" value="Find" class="btn btn-default" /></th>
            </tr>
        }
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Mark)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Mark)</td>
                <td>@Html.ActionLink("Edit Mark", "ManageUserMark", 
                   new { journalId = item.JournalId, courseId = item.CourseId }) </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action(
    "ManageJournal",
    new {
        page,
        userFirstNameFilter = ViewBag.FirstNameFilter,
        userLastNameFilter = ViewBag.LastNameFilter,
        courseId = ViewBag.CourseId
    }))
<br />
@Html.ActionLink("Back", "CourseInfo", "Courses", new { courseId = ViewBag.CourseId }, 
    new { @class = "custom-links whole-page" })