@model  Faculty.Logic.Models.Journal
@{
    ViewBag.Title = "ManageUserMark";
}

<h2>Manage @Model.Users.First().FirstName @Model.Users.First().LastName mark:</h2>


@using (Html.BeginForm("EditMark", "ManageJournals", new { journalId = ViewBag.JournalId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Set mark:</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Mark, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Mark, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Mark, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

